/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
  font-family: "Syne", sans-serif;
}

/* COLOR */
element {
    --main-bg-color: #ECE2DA
}


/* HEADER */
header {
  height: 80px; !important
  width: 1440px; !important
  align-content: center;
}

/* LOGO */
.site-logo-container img {
  height: 19px;
  margin-left: 37px;
}

/* MENU */
.menu-item-660 {
  align-content: center;
  background-color : #DC9F96
  color : #DC9F96
}

